body {
  margin: 0 auto;
  padding: 0 1.125em; /* padding incase veiwport gets squished */
  font-size: 14.22px; /* gives a nice round row height of ~16px */
  font-family: Helvetica, Arial, sans-serif;
  line-height: 15.9975px;
  max-width: 832px; /* gives p tags a col width of about 72 chars max */
  color: #000;
  /* the baseline */
  background: #fff url("/images/baseline.png") top left;
}

#logo {
  display: block;
  text-decoration: none;
  height: 181px; /* its not cheating, I swear! */
  background: url('/images/logo.png') center left no-repeat;
  overflow: hidden;
  text-indent: -3000em;
}

#in-short {
  font-family: "kulturista-web-1","kulturista-web-2", serif;
  font-style: italic;
  font-size: 16px;
  line-height: 19px;
  margin:  0 0 16px 0;
  padding: 0;
}

hr {
  background: url('/images/bar.png') center left repeat-x;
  height: 21px;
  border: none;
}

h2 {
  float: left;
  font-family: "kulturista-web-1","kulturista-web-2", serif;
  font-weight: bold;
  font-size: 39px;
  line-height: 44px;
  margin: 0 16px 0 0;
}

p, ul {
  margin: 20.9034px 0;
  padding-left: 340px; /* widest heading + margin-right: 15.9975px; */
  line-height: 19.908px;
  word-spacing: 0.125em;
}

h2.a-while-back { margin-top: 18px; }
p.a-while-back { margin-top: 44px; }

h2.greater-good-was { margin-top: 0px; }
p.greater-good-was { margin-top: 2.89em; }

h2.greater-good-is { margin-top: ; }
p.greater-good-is { margin-top: 2.8em; }

p#nerd-olympics {
  padding: 0;
  color: #d1d1d1;
  margin: 1.3em 0;
}

p#nerd-olympics a { color: inherit; }

abbr { letter-spacing: 0.1em; }
